<html>
  <body>
    <h1><%= sensor["name"] %></h1>
    <h2>This sensor is involved in <%= sensor["task_count"] %> task(s).</h2>
    <h2>This sensor last reported at <%= sensor["updated_at"] %>.</h2>
  </body>
</html>
