<html>
  <body>
    <h1><%= system["name"] %></h1>
    <h2>This system is in <%= system["mode"] %> mode.</h2>
    <h2>This system contains <%= system["links"]["sensors"].size %> sensor(s).</h2>
    <h2>This system last updated at <%= system["updated_at"] %>.</h2>
  </body>
</html>
